<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.project_quadruaple.expense.ExpenseMapper">
    <insert id="insPaid">
        INSERT INTO paid_user (de_id, price, trip_user_id)
        SELECT #{deId}, temp.price, tu.trip_user_id
        FROM trip_user tu
        JOIN
        <foreach collection="userPaid" item="item" open="(" close=")" separator=" UNION ALL ">
            SELECT #{item.price} AS price, #{item.userId} AS userId, #{tripId} AS tripId
        </foreach> AS temp
        ON tu.trip_id = temp.tripId AND tu.user_id = temp.userId
    </insert>


    <resultMap id="expenseOne" type="com.green.project_quadruaple.expense.model.res.ExpenseOneRes">
        <id property="deId" column="deId" />
        <result property="paidFor" column="paidFor" />
        <result property="totalPrice" column="totalPrice" />
        <collection property="payList" ofType="com.green.project_quadruaple.expense.model.dto.DutchPaidUserDto">
            <id property="userId" column="userId" />
            <result property="name" column="name" />
            <result property="profilePic" column="profilePic" />
            <result property="price" column="price" />
        </collection>
    </resultMap>

    <select id="selExpenseOne" resultMap="expenseOne">
        SELECT
        D.de_id AS deId,
        COALESCE(SUM(P.price), 0) AS totalPrice,
        D.`expense_for` AS paidFor,
        D.user_id AS userId,
        D.name,
        D.profile_pic AS profilePic,
        D.price
        FROM depay D
        LEFT JOIN depay P ON D.de_id = P.de_id
        WHERE D.de_id = #{deId}
        GROUP BY D.user_id, D.`expense_for`, D.name, D.profile_pic, D.price
    </select>
    
    <select id="getTripUser">
        SELECT U.user_id, U.profile_pic, U.name
        <if test="deId !=null">
        ,If(EXISTS(SELECT 1 FROM paid_user P WHERE P.de_id=#{deId} AND P.trip_user_id=TU.trip_user_id),1,0) AS isJoin
        </if>
        FROM user U
        JOIN trip_user TU
        ON U.user_id = TU.user_id
        AND TU.trip_id=#{tripId}
        WHERE TU.`disable`=0
    </select>

</mapper>
